# PostgreSQL credentials used by docker-compose
PG_HOST=postgres
PG_PORT=5432
PG_USER=airflow
PG_PASSWORD=your_postgres_password_here
PG_DB=airflow

# Airflow webserver/admin credentials
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=your_airflow_password_here
AIRFLOW_EMAIL=admin@example.com
AIRFLOW_FIRSTNAME=Admin
AIRFLOW_LASTNAME=User
AIRFLOW_ROLE=Admin

# Airflow Configuration
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:your_postgres_password_here@postgres:5432/airflow

AIRFLOW__WEBSERVER__RBAC=True
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth

# API Keys (Replace these placeholders with your actual keys)
PRODUCT_HUNT_KEY=your_product_hunt_api_key_here
COMPANY_HOUSE_KEY=your_company_house_api_key_here
COMPANIESAPI_KEY=your_companies_api_key_here
